@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Brand Colors */
  --color-primary: #0F758D;
  --color-primary-dark: #0C5E71;
  --color-primary-light: #1499b9;
  --color-background-light: #FDF5E6;
  --color-background-dark: #083B47;
  --color-text-main: #101828;
  --color-text-muted: #475467;
  --color-accent: #0F758D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}